.sections {
	width: 100%;
	
	margin-bottom: 122up;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sectiondd {
	width: 97%;
	height: 318upx;
	margin-top: 10upx;
	position: relative;

	border-radius: 5upx;
	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
}

.section_header {
	height: 64upx;
	width: 100%;
	background-color: #000000;
	color: #FFFFFF;
	opacity: 0.5;
	position: absolute;
	top: 0;
	font-size: 32upx;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.section_footer {
	height: 64upx;
	width: 100%;
	background-color: #000000;
	color: white;
	opacity: 0.5;
	font-size: 32upx;
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.update {
	width: 108upx;
	height: 38upx;
	line-height: 38upx;
	text-align: center;
	font-size: 22upx;
	background-color: #FFFFFF;
	border-radius: 20upx;
	color: #000000;
}

/**
 * 活动类型图片位置摆放
 */
.sectiondd .mode {
	position: absolute;
	top: 0;
	right: 30upx;
	width: 40upx;
	height: 80upx;
	z-index: 99
}
.sectiondd .mode image {
	width: 100%;
	height: 100%;
	border-radius: 0;
}