.content {
	width: 750upx;
	height: 100%;
	position: relative;
}

.section {
	width: 728upx;
	background-color: white;
	margin: 0 auto;
	height: auto;
	position: relative;
	top:12upx
}
.actions{
	width: 100%;
	height: 600upx;
}
.action {
	width: 100%;
	height: 600upx;
	margin: 0;
}

.wenti {

	color: #1B191A;
	width: 100%;
	font-size: 30upx;

}

.margin-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
}

.cu-bar .bg-white .margin-top{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
}
.sub{
	width: 180upx;
	height: 80upx;
	text-align: center;
	line-height: 80upx;
	margin: 0 auto;
	margin-top: 30upx;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 25upx;
	border-radius: 10upx;
}
.txt{
	width: 100%;margin-top: 20upx;margin-bottom: 20upx;height: 300upx;border: 1px solid #eee;
	border-radius: 10rpx;
	padding: 10rpx;
	position: relative;
}
.len {
	position: absolute;
	right: 0;
	bottom: 0
}
.heaeds{
	padding: 30rpx;
}
.subImg{
	position: relative;
}
